body{
    background-color: #F4F4F4;
}
h2{
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover{
    transform: scale(1.1);

}

@media only screen and (max-width: 768px) {
    .container-info{
        margin-top: 70% !important;
    }
}